<div class="container">
    <div class="row">
  
            <figure class="fir-image-figure">

                <a class="fir-imageover" rel="noopener" target="_blank" href="https://twitter.com/_davideast">
                  <img class="fir-author-image fir-clickcircle" src="assets/image/profile.png"    alt="David East - Author">
                  <div class="fir-imageover-color"></div>
                
                </a>
              
                <figcaption>
                  <div class="fig-author-figure-title">DIAWARA</div>
                  <div class="fig-author-figure-title">Karim</div>
                  <div class="fig-author-figure-title">List  &#8212; Tirage 2</div>
                </figcaption>
            
            </figure>
    </div>
</div>



<div class="container">
    <div class="row">
  
            <figure class="fir-image-figure">

                <a class="fir-imageover" rel="noopener" target="_blank" href="https://twitter.com/_davideast">
                  <img class="fir-author-image fir-clickcircle" src="assets/image/profile.png"    alt="David East - Author">
                  <div class="fir-imageover-color"></div>
                
                </a>
              
                <figcaption>
                  <div class="fig-author-figure-title">DIAWARA</div>
                  <div class="fig-author-figure-title">Karim</div>
                  <div class="fig-author-figure-title">List  &#8212; Tirage 2</div>
                </figcaption>
            
            </figure>
    </div>
</div>


<div class="container">
    <div class="row">
  
            <figure class="fir-image-figure">

                <a class="fir-imageover" rel="noopener" target="_blank" href="https://twitter.com/_davideast">
                  <img class="fir-author-image fir-clickcircle" src="assets/image/profile.png"    alt="David East - Author">
                  <div class="fir-imageover-color"></div>
                
                </a>
              
                <figcaption>
                  <div class="fig-author-figure-title">DIAWARA</div>
                  <div class="fig-author-figure-title">Karim</div>
                  <div class="fig-author-figure-title">List  &#8212; Tirage 2</div>
                </figcaption>
            
            </figure>
    </div>
</div>
