
<div class="container">
    <div class="row gy-3 my-3">
        <div class="col-sm-6 col-md-4 col-lg-3">
            
             <div class="card">
                <img src="assets/image/profile.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">DIAWARA Karim</h5>
                  <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
             </div>

        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
            
            <div class="card">
               <img src="assets/image/profile.png" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">DIAWARA Karim</h5>
                 <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
                 <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
               </div>
            </div>

       </div>


       <div class="col-sm-6 col-md-4 col-lg-3">   
        <div class="card">
           <img src="assets/image/profile.png" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">DIAWARA Karim</h5>
             <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
             <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
           </div>
        </div>

   </div>



   <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
       <img src="assets/image/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">DIAWARA Karim</h5>
         <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       </div>
    </div>

</div>

<div class="col-sm-6 col-md-4 col-lg-3">
            
    <div class="card">
       <img src="assets/image/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">DIAWARA Karim</h5>
         <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       </div>
    </div>

</div>




<div class="col-sm-6 col-md-4 col-lg-3">
            
    <div class="card">
       <img src="assets/image/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">DIAWARA Karim</h5>
         <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       </div>
    </div>

</div>




<div class="col-sm-6 col-md-4 col-lg-3">
            
    <div class="card">
       <img src="assets/image/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">DIAWARA Karim</h5>
         <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       </div>
    </div>
</div>



<div class="col-sm-6 col-md-4 col-lg-3">
            
    <div class="card">
       <img src="assets/image/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">DIAWARA Karim</h5>
         <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       </div>
    </div>
</div>


<div class="col-sm-6 col-md-4 col-lg-3">
            
    <div class="card">
       <img src="assets/image/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">DIAWARA Karim</h5>
         <p class="card-text">Liste Kalanso 2 -- Tirage 2</p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       </div>
    </div>
</div>





    </div>

</div>




