<div>
    <div>
        <div class="grand">
            <div class="petit">
                <div>
                    <img src="../../assets/image/photo.png" alt="">

                </div>
                <div class="select">
                    <h2 ><a href="">Selectionner le fichier à importer</a></h2>
                    <p>ou glissez-déposez ici</p>
                </div>
            </div>

        </div>
        
        <div class="champs">
            <p>Liste Nom</p>
        </div>
        <div class="import">
            <p>Importer fichier</p>
            
        </div>
    </div>



    <div>
        <div>

        </div>
    </div>


</div>
