

<div class="container">


    <div>
        <form class="form_1">

                <span class="dashTirage text-uppercase">DashBord Tirage</span>

                <input type="file" id="file" accept="">
                <label for="file">
                <div class="small-div">
                    <div> 
                    <img src="../../assets/image/photo.png" height=90%, width=90%> 
                        <!-- <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        choose a file -->
                        <div class="divSelect">
                        <p  class="selectionner">Selectionner le fichier à Importer</p>
                        <p class="ou"> Ou gliser deposer</p>
                        </div>
                    </div>  
                </div>
                </label>
        
                <div class="div_tire">
                    <input type="text"  placeholder="Donner un titre"> 
                </div>

                <div class="div_tire">
                    <input type="submit"  value="Inserer">
                </div>


                <div class="success">
                    <i class="fa fa-check-circle" style="font-size: 35px; color: green;" aria-hidden="true"></i>
                    <p>Les données sont bien inseré !</p>
                 </div>

                <div class="erreur">
                        <i class="fa fa-exclamation-circle" style="font-size: 35px; color: Red;" aria-hidden="true"></i>
                        <p>Les données ne sont inseré !</p>    
                </div>

         </form>

              
      


    </div>



    <div>

        <form class="form_2">
                <div>
                    <img src="../../assets/image/tirage.png" width="" alt="" style="margin-left: 10%;">
                </div>
            <span class="faire_tirage text-uppercase" style="margin-right: 15%; margin-bottom: 10%;">Faire un tirage</span>

            <div class="champ">

                <div class="titre">
                    <input type="text"  placeholder="Donner un titre"> 
                </div>

                <div class="nombre">
                    <input type="text"  placeholder="Donner un titre"> 
                </div>
            
                
            </div>

            <div class="libelle_tirage">
                <input type="text"  placeholder="Donner un titre" style="margin-top: 4%; width: 85%; "> 
            </div>
            
        
                <div class="div_tire">
                    <input type="submit"  value="Lancer">
                </div>
          
             
        </form>


    </div>


</div>








<!-- Youskin work -->



<!-- 
<div>
    <div>
        <form>


            <div class="grand">
                <div class="petit">
                    <div>
                        <img src="../../assets/image/photo.png" alt="">
                         <input type="file" style="color:transparent;" >
                    </div>
                    <div class="select">
                        <h2 ><a href="">Selectionner le fichier à importer</a></h2>
                        <p>ou glissez-déposez ici</p>
                    </div>
                </div>
        
            </div> 


        </form>
    </div>
    <div></div>

</div> -->
