<div class="container">
    <h2 class="text-center">La Liste de Tirage</h2>
    <!-- <p>The .thead-dark class adds a black background to table headers, and the .thead-light class adds a grey background to table headers:</p> -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Numéro</th>
          <th>Libéllés Tirage</th>
          <th>Date</th>
          <th>Nombre Tiré</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 01</td>
          <td>2022 - 07 -23</td>
          <a href=""><td>27</td></a>
          <td> 
            <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i></a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 02</td>
          <td>2022 - 07 -23</td>
          <td><a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 03</td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 04</td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 05</td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 06</td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 07</td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 09 </td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Tirage Kalanso 10</td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
         <td>
              
              <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        </tbody>
    </table>
  </div>
