<div class="container">
    <h2 class="text-center text-uppercase ">La Liste de Tirage</h2>
    <!-- <p>The .thead-dark class adds a black background to table headers, and the .thead-light class adds a grey background to table headers:</p> -->
    <table class="table" *ngIf="listes">
      <!-- *ngIf="listes" -->
      <thead class="thead entete">
        <tr>
          <th>Numéro</th>
          <th>Libéllés Tirage</th>
          <th>Date</th>
          <th>Nombre Tiré</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of listes; let id = index">
             
          <td>{{id+1}}</td>

          <td>{{l.libelletirage}}</td>
          <td>{{l.datetirage}}</td>
          <a href="person"><td>{{l.nbr}}</td></a>
          <td> 
            <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i></a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>   
           </td>
        </tr>
        
        </tbody>
    </table>
  </div>
