h2{
    padding: 25px;
}
i.fa-trash{
    color: red;
}
i.fa-chevron-right{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    color: black;
    font-size: larger;
}

.container{
    padding-bottom: 8%;
}
.entete{
    color: #002a3f;
}