<div class="container">
    <h2 class="text-center">Liste de tirage et nombre tiré</h2>
    <!-- <p>The .thead-dark class adds a black background to table headers, and the .thead-light class adds a grey background to table headers:</p> -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Numero</th>
          <th>Libéllés Liste</th>
          <th>Date</th>
          <th>Nombre Tirage</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Liste 2 orange digital kalanso </td>
          <td>2022 - 07 -23</td>
          <a href=""><td>27</td></a>
          <td> <a href="liste_tirage"> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i></a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
       
        <tr>
          <td>1</td>
          <td>Liste 2 orange digital kalanso </td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <a href="liste_tirage"> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Liste 2 orange digital kalanso </td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <a href="liste_tirage"> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Liste 2 orange digital kalanso </td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <a href="liste_tirage"> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Liste 2 orange digital kalanso </td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <a href="liste_tirage"> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Liste 2 orange digital kalanso </td>
          <td>2022 - 07 -23</td>
  
          <td> <a href="">27</a></td>
          <td>
              
              <a href="liste_tirage"> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i>
              </a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
       
        </tbody>
    </table>
    <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  </div>
