<div class="container">
    <h2 class="text-center text-uppercase">Liste de tirage et nombre de personnes tirés</h2>
    <!-- <p>The .thead-dark class adds a black background to table headers, and the .thead-light class adds a grey background to table headers:</p> -->
    <table class="table"  *ngIf="detaillListe">
      <thead class="thead entete" >
        <tr>
          <th>Numero</th>
          <th>Libéllés Liste</th>
          <th>Date</th>
          <th>Nombre Tirage</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of detaillListe; let id = index">
          <td>{{id+1}}</td>
          <td>{{l[0]}}</td>
          <td>{{l[1]}}</td>
          <td>{{l[2]}}</td>
          <td> <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i></a>
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> 
  
  
           </td>
        </tr>
              
        </tbody>
    </table>
    <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  </div>
