

<div class="container-fluid">
    <h2 class="text-center text-uppercase" style="margin-top: 3%;margin-bottom: 3%;">Nos statistiques</h2>

        <div class="row gy-3 my-3">
            <div class=" col-md-4 col-lg-4">
                <div class="card" style="width:20rem;">
                    <h5 class="card-title text-uppercase" style="color: #002a3f;">Total liste tirée</h5>
                    <img src="assets/image/g.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                       
                        <p class="card-text" style="font-size:25px; font-weight: 700;">26</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-lg-4">
                <div class="card" style="width:20rem;">
                    <h5 class="card-title text-uppercase"style="color: #002a3f;">Total Tirage effectué</h5>
                    <img src="assets/image/p.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                       
                        <p class="card-text" style="font-size:25px; font-weight: 700;">70</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-lg-4">
                <div class="card" style="width:20rem;">
                    <h5 class="card-title text-uppercase" style="color: #002a3f;">Nombre postulant</h5>
                    <img src="assets/image/per.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                      
                        <p class="card-text" style="font-size:25px; font-weight: 700;">1900</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
          </div>

</div>

<div>
    <!-- <div>
            <p class="textCenter">Veulliez cliquez sur le button pour créer un tirage, vous verez les autres instructions à suivre pour y arriver à un resultat.</p>
    </div> -->

    <div>
        <span><a href="tirage"></a></span>
    </div>
</div>

<app-la-liste-de-tirage-et-nombre-tire></app-la-liste-de-tirage-et-nombre-tire>