

<div>
  
    <div>
        <div class="card">
            <a href="#">
                
                    <!-- Date de publication de l'article-->
                    <div class="card-date">
                       <span>Total liste tiré</span>
                    </div>
        
               
                <!-- Corp de notre carte -->
                <div class="card-body">
                     <!-- Image à la une -->
                <div class="card-image"><img src="../../assets/image/photo.png" alt="Orange" /></div>
                <!-- Fin de l'image à la une -->
        
        
                    <!-- Titre de l'article -->
                    <div class="card-title">
                        <h3>28</h3>
                    </div>
                    <!-- Extrait de l'article -->
                    <div class="card-excerpt">
                       <p></p>
                    </div>
        
                </div>
                <!-- Fin du corp de notre carte -->
            </a>
        </div>
    </div>

</div>