<div class="container-fluid">
    

        <div class="row gy-3 my-3">
            <div class=" col-md-4 col-lg-4">
                <div class="card" style="width:20rem;">
                    <h5 class="card-title text-uppercase">Total liste tirée</h5>
                    <img src="assets/image/g.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                       
                        <p class="card-text" style="font-size:25px; font-weight: 700;">26</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-lg-4">
                <div class="card" style="width:20rem;">
                    <h5 class="card-title text-uppercase">Total Tirage effectué</h5>
                    <img src="assets/image/p.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                       
                        <p class="card-text" style="font-size:25px; font-weight: 700;">70</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-lg-4">
                <div class="card" style="width:20rem;">
                    <h5 class="card-title text-uppercase">Nombre postulant</h5>
                    <img src="assets/image/per.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                      
                        <p class="card-text" style="font-size:25px; font-weight: 700;">1900</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
          </div>




</div>


<app-la-liste-de-tirage-et-nombre-tire></app-la-liste-de-tirage-et-nombre-tire>