<div class="container">
    <h2 class="text-center text-uppercase ">Total Tirage faite sur la liste</h2>
    <!-- <p>The .thead-dark class adds a black background to table headers, and the .thead-light class adds a grey background to table headers:</p> -->
    <table class="table table-striped" *ngIf="detaillListe">
      <!-- *ngIf="listes" -->
      <thead class="thead entete">
        <tr>
          <th>Numéro</th>
          <th>Libéllés Tirage</th>
          <th>Date</th>
          <th>Nombre Tiré</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of detaillListe.content; let id = index">
             
          <td>{{id+1}}</td>

          <td>{{l[2]}}</td>
          <td>{{l[1] | date}}</td>
          <td> <a  [routerLink]="[url,l[0]]">{{l[3]}}</a></td>
          <td> 
            <!-- <a href=""> <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:15px ;"></i></a> -->
             
              <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:15px ;"></i></a>
  
             <a href=""><i class="fa fa-trash" aria-hidden="true" style="color: red ;"></i></a>   
           </td>
        </tr>
        
        </tbody>
    </table>

    <ul *ngIf="pages" class="pagination">
        <li class="page-item" [ngClass]="i== currentPage?'active':''" *ngFor="let p of pages; let i= index">
      <a class="page-link" (click)="onPageDeatillListe(i)">{{i}}</a>
        </li>
      </ul>
  
  </div>
